.vertical {  height: 100%;  }
.horizontal { width: 100%; }

body {
    display: flex;
    justify-content: flex-start;

    padding: 0;
    margin: 0;

    position: fixed;
}

nav {
    width: 50px;
    background-color: whitesmoke;

    transition: all 4s ease-out;
    transition: all 0.25s ease-in;
    display: flex;

    position: relative;
    
}

nav > section:nth-child(1) {
    background-image: linear-gradient(-45deg, #ccadd3,
    #c383d3,
    #875faf, #93c6b7);
    background-size: 400% 400%;
    width: 0;
    transition: all 0.25s ease-in;
}

nav > section:nth-child(2) {
    background-image: linear-gradient(-45deg, #ccadd3,
     #c383d3,
     #875faf, #93c6b7);
     background-size: 400% 400%;
    width: 50px !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


main {
    background-color: transparent;
    overflow: scroll;
}

.menu-button {
    height: 50px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    color: white;
}


.main-section {
    font-family: 'Lobster Two', cursive;
    background-color: transparent;

}

h1 {
    font-size: 52px;
    font-weight: normal;
    padding: 0;
    margin: 0;

    font-family: 'Clicker Script', cursive;
    text-align: left;
    color: #825d7c;

    border-bottom: 3px solid #825d7c;
    border-top: 3px solid #825d7c;
    padding: 0 25px;
    /*
    text-shadow: 
    0 1px 0 #ba85b1,
    0 2px 0 #a7789f,
    0 3px 0 #956b8e,
    0 4px 0 #825d7c
    */
}
h2 {
    font-family: 'Clicker Script', cursive;
    text-align: left;
}

span {
    font-size: 42px;
    font-family: 'Chilanka', cursive;
    color: black;
    text-align: left;

}

p {
    margin: 0;
    padding: 25px;
    font-size: 35px;
    font-family: 'Clicker Script', cursive;
}


iframe {
    height: 400px;
}

