.vertical {  height: 100%;  }
.horizontal { width: 100%; }

body {
    display: flex;
    justify-content: flex-start;

    padding: 0;
    margin: 0;

    background-color: pink;
    position: fixed;
}

nav {
    width: 50px;
    background-color: whitesmoke;

    transition: all 4s ease-out;
    transition: all 0.5s ease-in;
    display: flex;

    position: relative;
    
}

nav > section:nth-child(1) {
    background-color: indianred;
    width: 0;
    transition: all 0.5s ease-in;
}

nav > section:nth-child(2) {
    background-color: plum;
    width: 50px !important;
}

main {
    background-color: whitesmoke;
    overflow: scroll;
}

.menu-button {
    height: 50px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    color: white;
}


.main-section {
    font-family: 'Lobster Two', cursive;
    background-color: whitesmoke;
    margin: 25px;

}

h1 {
    font-size: 52px;
    font-weight: normal;
    padding: 0;
    margin: 0;

    font-family: 'Clicker Script', cursive;
    text-align: center;
    color: #825d7c;
    /*
    text-shadow: 
    0 1px 0 #ba85b1,
    0 2px 0 #a7789f,
    0 3px 0 #956b8e,
    0 4px 0 #825d7c
    */
}

iframe {
    height: 400px;
}
